.melon-image {
    height: 300px;
    width: 300px;
}

#melon-list {
    display: flex;
    flex-wrap: wrap;
 }

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid grey;
    height: 150px;
    width: 100%;
}